.ant-table-thead tr .ant-table-cell,
.ant-table-row .ant-table-cell {
  text-align: center !important;
  color: #726b62 !important;
}

.ant-table-thead tr .ant-table-cell {
  background-color: #F1DEC9 !important;
}

.my-table {
  width: 80%;
}